<mat-card class="user-detail-header">
    <div class="user-detail-header-content">
        <img src="../../assets/user.png" alt="">

        <div class="user-detail-info">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <p>{{user.email}}</p>
        </div>
    </div>
</mat-card>

<mat-card class="user-detail-content">
    <button mat-icon-button class="right-corner" (click)="openAddressDialog()">
        <mat-icon>more_vert</mat-icon>
      </button>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        {{user.street}} <br>
        {{user.city}} {{user.zipCode}}
    </mat-card-content>
</mat-card>